<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin page</title>
</head>
<body>
<h1>This is Admin page!</h1>
<div>
    <h2>You can check the list of available users by clicking link below</h2>
    <a href="/admin/users">All Users</a>
</div>
<br>
<div>
    <h2>Go to <a href="/user">home page</a></h2>
</div>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>